In [1]:
import pandas as pd

# Questões 1

In [2]:
df = pd.read_csv('./companies.csv')
df.head()

,id,company-name,description,tagline,company-email,ein
0,1,"Blick, Haag and Lockman",Ergonomic Actuating Alliance,Cultivate Strategic Content,maye88@foo.com,66-6026508
1,2,"O'Hara, Halvorson and Nienow",Organic Mobile Info-Mediaries,Facilitate Intuitive Initiatives,jordon39@bar.com,63-9648851
2,3,"Yundt, Goyette and Mayert",Cloned Attitude-Oriented Adapter,Reinvent Granular Webservices,jazlyn.dickinson@ankunding.info,91-9287758
3,4,Lindgren-Sporer,Compatible 4Thgeneration Analyzer,Architect 24/365 Models,jailyn.cruickshank@foo.com,75-5636305
4,5,"Thompson, Brakus and Weber",Adaptive Responsive Portal,Innovate B2C Metrics,simonis.janiya@bar.com,87-5846037

In [3]:
df['company-email']

0                      maye88@foo.com
1                    jordon39@bar.com
2     jazlyn.dickinson@ankunding.info
3          jailyn.cruickshank@foo.com
4              simonis.janiya@bar.com
5              jasmin.wuckert@foo.com
6                    darien23@bar.org
7          heaney.misael@medhurst.org
8            brianne.skiles@lemke.com
9       orlando.denesik@hermiston.com
10             rebecca.larkin@foo.com
11          cronin.adah@greenholt.com
12                 emily91@barton.net
13                 richmond99@bar.org
14             schultz.bertha@bar.org
15           larson.margarita@bar.org
16            bernhard.eudora@foo.com
17        wendell.pollich@denesik.com
18              kenneth68@harris.info
19              rosanna86@abbott.info
Name: company-email, dtype: object

# Questões 2

In [8]:
df = pd.concat([df.drop(columns='company-email'),
                (
    df
    .loc[:, 'company-email']
    .str
    .extract(r'.+?@(\w+)\.(\w+)')
    .rename(columns={0: 'domain', 1: 'tld'})
)
],
    axis=1)

df.head()

,id,company-name,description,tagline,ein,domain,tld
0,1,"Blick, Haag and Lockman",Ergonomic Actuating Alliance,Cultivate Strategic Content,66-6026508,foo,com
1,2,"O'Hara, Halvorson and Nienow",Organic Mobile Info-Mediaries,Facilitate Intuitive Initiatives,63-9648851,bar,com
2,3,"Yundt, Goyette and Mayert",Cloned Attitude-Oriented Adapter,Reinvent Granular Webservices,91-9287758,ankunding,info
3,4,Lindgren-Sporer,Compatible 4Thgeneration Analyzer,Architect 24/365 Models,75-5636305,foo,com
4,5,"Thompson, Brakus and Weber",Adaptive Responsive Portal,Innovate B2C Metrics,87-5846037,bar,com

In [10]:
(
df['company-email']
.str
.extract(r'w.+?@')
)

ValueError: pattern contains no capture groups

# Questão 3

In [9]:
(
    df
    .groupby(['tld'])
    .aggregate({'id': 'count'})
    .sort_values(by='id', ascending=False)
)

      id
tld
com   11
org    5
info   3
net    1

In [10]:
(
    df
    .tld
    .value_counts()
)

com     11
org      5
info     3
net      1
Name: tld, dtype: int64