# Dinâmica Vídeo 05

Baseada nos exercícios encontrados [nesse repositório](https://github.com/guipsamora/pandas_exercises).

Começamos importando as bibliotecas necessárias.

In [1]:
import pandas as pd

Depois vamos carregar o arquivo json em um dataframe para responder as questões do exercício.

In [3]:
df = pd.read_json('./actual_data/chipotle.json', encoding='utf-8')
df.head()

   order_id  quantity                              item_name item_price
0         1         1           Chips and Fresh Tomato Salsa     $2.39
1         1         1                                   Izze     $3.39
2         1         1                       Nantucket Nectar     $3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2         2                           Chicken Bowl    $16.98

### 01 - Quantas instâncias tem o conjunto de dados?

In [4]:
df.shape[0]

4622

### 02 - Quantas colunas tem o conjunto de dados?

solução 1

In [5]:
df.shape[1]

4

solução 2

In [5]:
len(df.columns)

4

In [6]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'item_price'], dtype='object')

### 03a - Qual o item que foi mais pedido?

### 03b - Quantas vezes o item mais pedido foi pedido?

Estamos fazendo a resposta retornar os top 5, porém apenas ajustando o número na função head conseguimos obter o mais vendido somente.

In [8]:
df.dtypes

order_id       int64
quantity       int64
item_name     object
item_price    object
dtype: object

In [9]:

c = (
    df
    .drop(columns=['order_id', 'item_price'])
    .groupby('item_name')
    .sum()
    .sort_values(['quantity'], ascending=False)
)
c.head(5)

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

### 04 - Quantos itens foram pedidos no total?

In [7]:
df.quantity.sum()

4972

### 05 - Transforme a coluna price em float.

Antes de resolver esse exercício vamos observar nosso dataframe para entender o formato atual da coluna price.

Percebemos que existe um \$ nessa coluna. É necessário remover o \$ antes de converter para float.

In [10]:
df.head()

   order_id  quantity                              item_name item_price
0         1         1           Chips and Fresh Tomato Salsa     $2.39
1         1         1                                   Izze     $3.39
2         1         1                       Nantucket Nectar     $3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2         2                           Chicken Bowl    $16.98

In [9]:
df.item_price.dtype

dtype('O')

Solução 1

Para fazer a conversão vamos aplicar uma função que remove o primeiro caracter (que nesse caso é o \$), retira espaços em branco e depois converte para float.

In [19]:
df['item_price'] = df.item_price.apply(lambda x: float(x[1:].strip()))
df.head()

   order_id  quantity                              item_name  item_price
0         1         1           Chips and Fresh Tomato Salsa        2.39
1         1         1                                   Izze        3.39
2         1         1                       Nantucket Nectar        3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa        2.39
4         2         2                           Chicken Bowl       16.98

In [20]:
df.dtypes

order_id        int64
quantity        int64
item_name      object
item_price    float64
dtype: object

Solucao 2

In [11]:
(
    df
     .item_price
     .str
     .removeprefix('$')
     .astype(float)
     .head()
)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [100]:
df.item_price.dtype

dtype('float64')

### 06 - Quantos itens diferentes existem?

solucão 1

In [12]:
(
    df
    .drop(columns=['quantity', 'item_price'])
    .groupby(['item_name'])
    .count()
    .shape[0]
)

50

solução 2

In [16]:
(
    df
    .item_name
    .value_counts()
    .shape[0]
)

50

### 07 - Qual o valor médio por item?

In [18]:
df

      order_id  quantity                              item_name item_price
0            1         1           Chips and Fresh Tomato Salsa     $2.39
1            1         1                                   Izze     $3.39
2            1         1                       Nantucket Nectar     $3.39
3            1         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2         2                           Chicken Bowl    $16.98
...        ...       ...                                    ...        ...
4617      1833         1                          Steak Burrito    $11.75
4618      1833         1                          Steak Burrito    $11.75
4619      1834         1                     Chicken Salad Bowl    $11.25
4620      1834         1                     Chicken Salad Bowl     $8.75
4621      1834         1                     Chicken Salad Bowl     $8.75

[4622 rows x 4 columns]

In [21]:
(
    df
    .drop(columns=['quantity', 'order_id'])
    .groupby(['item_name'])
    .mean()
    .round(2)
)

                                       item_price
item_name
6 Pack Soft Drink                            6.61
Barbacoa Bowl                               10.19
Barbacoa Burrito                             9.83
Barbacoa Crispy Tacos                       10.93
Barbacoa Salad Bowl                         10.64
Barbacoa Soft Tacos                         10.02
Bottled Water                                1.87
Bowl                                        14.80
Burrito                                      7.40
Canned Soda                                  1.32
Canned Soft Drink                            1.46
Carnitas Bowl                               10.83
Carnitas Burrito                            10.13
Carnitas Crispy Tacos                       11.14
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.06
Carnitas Soft Tacos                          9.40
Chicken Bowl                                10.11
Chicken Burrito                             10.08
Chicken Crispy Tacos                        10.05
Chicken Salad                                9.01
Chicken Salad Bowl                          11.17
Chicken Soft Tacos                           9.64
Chips                                        2.34
Chips and Fresh Tomato Salsa                 3.29
Chips and Guacamole                          4.60
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           3.08
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        3.09
Chips and Tomatillo Red Chili Salsa          3.07
Chips and Tomatillo-Green Chili Salsa        2.54
Chips and Tomatillo-Red Chili Salsa          2.99
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             3.64
Salad                                        7.40
Side of Chips                                1.84
Steak Bowl                                  10.71
Steak Burrito                               10.47
Steak Crispy Tacos                          10.21
Steak Salad                                  8.91
Steak Salad Bowl                            11.85
Steak Soft Tacos                             9.75
Veggie Bowl                                 10.21
Veggie Burrito                               9.84
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           10.14
Veggie Soft Tacos                           10.57

### BONUS - E se quisermos listar todos os preços pagos em cada para cada um dos itens?

In [22]:
(
    df.drop(columns=['order_id'])
    .groupby(['item_name'])['item_price']
    .apply(list)
 )

item_name
6 Pack Soft Drink                        [6.49, 6.49, 6.49, 6.49, 6.49, 6.49, 6.49, 6.4...
Barbacoa Bowl                            [11.75, 11.75, 9.25, 8.99, 9.25, 11.75, 9.25, ...
Barbacoa Burrito                         [8.99, 9.25, 9.25, 11.75, 11.75, 9.25, 8.99, 1...
Barbacoa Crispy Tacos                    [11.75, 9.25, 11.48, 11.75, 9.25, 9.25, 8.99, ...
Barbacoa Salad Bowl                      [11.89, 11.89, 9.39, 9.39, 9.39, 11.89, 11.89,...
Barbacoa Soft Tacos                      [9.25, 9.25, 8.99, 9.25, 9.25, 11.75, 11.75, 9...
Bottled Water                            [1.09, 1.09, 1.09, 1.5, 1.5, 1.5, 3.0, 1.5, 1....
Bowl                                                                           [22.2, 7.4]
Burrito                                                     [7.4, 7.4, 7.4, 7.4, 7.4, 7.4]
Canned Soda                              [2.18, 1.09, 2.18, 1.09, 1.09, 1.09, 1.09, 2.1...
Canned Soft Drink                        [1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.2...
Carnitas Bowl                            [8.99, 11.75, 9.25, 11.48, 8.99, 8.99, 23.5, 9...
Carnitas Burrito                         [8.99, 9.25, 11.75, 9.25, 9.25, 9.25, 11.75, 9...
Carnitas Crispy Tacos                        [9.25, 11.75, 8.99, 11.75, 8.99, 17.98, 9.25]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                               [11.89, 9.39, 11.89, 9.39, 11.89, 11.89]
Carnitas Soft Tacos                      [9.25, 9.25, 9.25, 9.25, 9.25, 8.99, 8.99, 8.9...
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 11.25, 8.75,...
Chicken Burrito                          [8.49, 8.49, 10.98, 8.49, 10.98, 10.98, 8.75, ...
Chicken Crispy Tacos                     [8.75, 17.5, 11.25, 8.49, 8.49, 11.25, 8.75, 1...
Chicken Salad                            [10.98, 10.98, 8.49, 8.49, 8.49, 8.49, 8.49, 8...
Chicken Salad Bowl                       [8.75, 22.5, 22.5, 8.75, 17.5, 8.75, 8.75, 8.7...
Chicken Soft Tacos                       [8.75, 8.75, 8.75, 8.75, 11.25, 8.49, 8.49, 8....
Chips                                    [2.15, 2.15, 2.15, 2.15, 2.15, 2.15, 4.3, 2.15...
Chips and Fresh Tomato Salsa             [2.39, 2.39, 2.39, 2.95, 2.95, 2.95, 2.95, 2.3...
Chips and Guacamole                      [4.45, 4.45, 4.45, 4.45, 4.45, 3.99, 4.45, 3.9...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa       [2.95, 2.95, 2.95, 2.95, 2.95, 2.95, 2.95, 2.9...
Chips and Roasted Chili-Corn Salsa       [2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.3...
Chips and Tomatillo Green Chili Salsa    [2.95, 2.95, 5.9, 2.95, 2.95, 2.95, 2.95, 2.95...
Chips and Tomatillo Red Chili Salsa      [2.95, 2.95, 2.95, 2.95, 2.95, 2.95, 2.95, 2.9...
Chips and Tomatillo-Green Chili Salsa    [2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.3...
Chips and Tomatillo-Red Chili Salsa      [2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.39, 2.3...
Crispy Tacos                                                                    [7.4, 7.4]
Izze                                     [3.39, 3.39, 3.39, 3.39, 3.39, 3.39, 3.39, 3.3...
Nantucket Nectar                         [3.39, 3.39, 3.39, 3.39, 3.39, 3.39, 6.78, 3.3...
Salad                                                                           [7.4, 7.4]
Side of Chips                            [1.69, 1.69, 1.69, 1.69, 1.69, 1.69, 1.69, 1.6...
Steak Bowl                               [8.99, 8.99, 11.75, 11.75, 8.99, 11.48, 9.25, ...
Steak Burrito                            [11.75, 9.25, 8.99, 11.75, 8.99, 8.99, 8.99, 8...
Steak Crispy Tacos                       [9.25, 8.99, 9.25, 8.69, 8.99, 9.25, 8.99, 9.2...
Steak Salad                                                       [8.99, 8.99, 8.99, 8.69]
Steak Salad Bowl                         [23.78, 11.89, 9.39, 23.78, 11.89, 11.89, 11.8...
Steak Soft Tacos                         [9.25, 9.25, 8.99, 9.25, 8.99, 8.99, 9.25, 9.2...
Veggie Bowl                              [11.25, 8.49, 11.25, 11.25, 8.49, 11.25, 11.25...
Veggie Burrito                           [11.25, 8.49, 11.25, 11.25, 10.98, 8.49, 8.49,...
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                          [8.49, 8.49, 8.49, 8.49, 8.49, 8.49]
Veggie Salad Bowl                        [11.25, 11.25, 11.25, 11.25, 8.75, 8.75, 11.25...
Veggie Soft Tacos                            [11.25, 8.75, 8.49, 11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object