In [25]:
import pandas as pd

df = pd.read_json('./actual_data/chipotle.json')

In [4]:
instancias = df.shape[0]
print(f'Instancias: {instancias}')

Instancias: 4622

In [5]:
colunas = df.shape[1]
print(f'Colunas: {colunas}')

Colunas: 4

In [7]:
df.head()

   order_id  quantity                              item_name item_price
0         1         1           Chips and Fresh Tomato Salsa     $2.39
1         1         1                                   Izze     $3.39
2         1         1                       Nantucket Nectar     $3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2         2                           Chicken Bowl    $16.98

In [39]:
print(f'{df['item_name'][df.quantity.idxmax()]} foi o item mais pedido. {df.quantity.max()} vezes')

Chips and Fresh Tomato Salsa foi o item mais pedido. 15 vezes

In [17]:
print(f'Foram pedidos {df['quantity'].sum()} itens')

Foram pedidos 4972 itens

In [30]:
df['item_price_float'] = df['item_price'].apply(lambda x: float(x[1:].strip()))
df.item_price_float

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_float, Length: 4622, dtype: float64

In [38]:
print(f'Existem {len(df['item_name'].unique())} itens diferentes')

Existem 50 itens diferentes